environment:
  global:
    - XGBOOST_VERSION: 42
    - LIBHDFS_DEV: %APPVEYOR_BUILD_FOLDER%\libhdfs-dev
    - HADOOP_VERSION: 2.6.0-cdh5.5.0
    - SPARK_VERSION: 2.1.0
    - SCALA_VERSION: 2.10.6
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
    # - JAVA_HOME: C:\Program Files (x86)\Java\jdk1.8.0

clone_script:
  - git clone -q --branch=%APPVEYOR_REPO_BRANCH% https://github.com/%APPVEYOR_REPO_NAME%.git %APPVEYOR_BUILD_FOLDER%
  - cd %APPVEYOR_BUILD_FOLDER%
  - git checkout -qf %APPVEYOR_REPO_COMMIT%
  - git submodule update --init --recursive

before_install:
  - 'SET PATH=C:\Python36-x64\python.exe;%PATH%'
  - ps: 'If ((Get-Content C:\YouFile.txt) -eq $Null) { python install_libhdfs.py }'

build_script:
  - java -version

matrix:
  fast_finish: true
